<%- include ("./partials/cabecera") %> 

<style>
.oval-line {
  width: 100%;
  height: 150px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  background-color: rgb(18, 239, 18);
  border-bottom: 2px solid #000;

}

.container {
        position: relative;
        display: inline-block;
        margin-top: 50px;
    }

.container span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 27px;
    -webkit-text-stroke: 2px black;
}

.container img {
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 22px 20px rgba(62, 128, 125, 0.5);
}

@media (min-width: 800px) {
    .container img{
        width: 75%;
    }
  }
@media (min-width: 700px) {
    .cont-img{
        margin-left: 300px !important;
    }
     .cont-img2{
        margin-right: 300px !important;
    }
  }
   
</style>

<!-- Menu arriba -->
<div class="oval-line">
    <div>
        <a href="">
            <img src="./perfil/<%- fotoPerfil %>" alt="" style="width: 50px; border-radius: 50%; margin-top:45px; margin-left: 20px;">
        </a>
    </div>

    <div class="text-center" style="margin-top: -70px;">
        <span style="font-weight: 800; font-size: 20px;">Inicio</span>
    </div>
    
    <div style="width: 100%; margin-top: 50px;">
        <div style="display: flex; justify-content: space-between;">
            <a href="#">
                <img class="cont-img" src="https://img.icons8.com/?size=512&id=2287GodioQ7D&format=png" alt="" style="width: 30px; margin-left: 70px;">
            </a>
        
            <a href="#">
                <img class="cont-img2" src="https://img.icons8.com/?size=512&id=Q4SSPv6y2vU9&format=png" alt="" style="width: 30px; margin-right: 70px;">
            </a>
        </div>
    </div>

        <!-- Boton volver -->
        <div style="width: 100%; margin-top: 55px;">
            <div style="display: flex; justify-content: space-between;">
                <a href="/" style="text-decoration: none; font-weight: 800; font-size: 25px;">
                    <img class="cont-img" src="https://img.icons8.com/?size=512&id=9045&format=png" alt="" style="width: 30px;margin-top: -12px;; margin-left: 10px;">
                    Volver
                </a>
            </div>
        </div>
      

</div>

<h1 class="text-center <%= compra?'text-success':'text-danger'; %>" style="font-weight: 800; margin-top: 70px;"><%= step %></h1>
  
<!-- Menu de abajo -->
 <div style="position: fixed; bottom: 50px; width: 100%; height: 50px;">
    <div style="display: flex; justify-content: space-between;">
      <a href="/">
        <img src="https://img.icons8.com/?size=512&id=BE56i0LQZMIW&format=png" alt="" style="width: 40px; margin-left: 45px;">
      </a>
  
      <a href="ajustes">
        <img src="https://img.icons8.com/?size=512&id=53420&format=png" alt="" style="width: 40px; margin-right: 45px;">
      </a>
    </div>
  </div>
  
  
<%- include ("./partials/pie") %> 